[alias]
  s = status
  c = commit
  co = checkout
  b = branch
  pl = pull
  p = push
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[merge]
	tool = vimdiff
  hideResolved = true
	prompt = false
	keepBackup = false
[mergetool "vimdiff"]
  trustExitCode = false
  layout = "LOCAL,MERGED,REMOTE"
[commit]
[user]
	name = Yash Anand
	email = yashanand1910@gmail.com
[commit]
	; gpgsign = true
[pull]
	rebase = false
[core]
  editor = vi
