[alias]
  s = status
  c = commit
  co = checkout
  b = branch
  pl = pull
  p = push
[diff]
  tool = vimdiff
[difftool]
  prompt = false
[merge]
  tool = vimdiff
  hideResolved = true
  prompt = false
  keepBackup = false
[mergetool "vimdiff"]
  trustExitCode = false
  layout = "LOCAL,MERGED,REMOTE"
[user]
  name = Yash Anand
  email = yashanand1910@gmail.com
	signingkey = AFA592F4A24B4180
[commit]
  gpgsign = false
[pull]
  rebase = false
[push]
	autoSetupRemote = true
[core]
  editor = vi
[safe]
	directory = /afs/.cs.cmu.edu/academic/class/15410-f23-users/group-12/REPOSITORY/p2
	directory = /afs/.cs.cmu.edu/academic/class/15410-f23-users/yashanan/scratch/p2
